<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<style type="text/css">
    div#map_container{
        width:100%;
        height:350px;
    }
</style>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vnLeQHTqIKBjkRUvj1mZ5BkZWiN-HG0"></script>

<script type="text/javascript">
    function loadMap() {
        var latlng = new google.maps.LatLng(38.7486972, -90.3700289);
        var myOptions = {
            zoom: 10,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_container"),myOptions);

        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title:"KSTL Airport"
        });

    }
</script>


<body onload="loadMap()">
<div id="map_container"></div>
</body>

<body>
<div id="form">
<th:form method="post" style="max-width: 200px" th:object="${wpt}">
    <div class="form-group">
        <label th:for="wpt_ident">Waypoint Ident</label>
        <input class="form-control" th:field="*{wpt_ident}"/><br/>
        <span th:errors="*{wpt_ident}" class="error"></span>
    </div>
    <div class="form-group">
        <!--<label th:for="icao">ICAO Region</label>-->
        <!--<select class="form-control" id="icao" name="icao_rgn">-->
        <label th:for="icao_rgn">ICAO Region</label>
        <select class="form-control" th:field="*{icao_rgn}">
            <option th:each="icao_rgn : ${IcaoRgn}"
                    th:text="${IcaoRgn.displayName}"
                    th:value="${IcaoRgn}"></option>
        </select><br/>
        <span th:errors="*{icao_rgn}" class="error"></span>

    </div>
    <div>
        <label th:for="latitude">Latitude</label>
        <input class="form-control" th:field="*{latitude}"/><br/>
    </div>
    <div>
        <label th:for="longitude">Longitude</label>
        <input class="form-control" th:field="*{longitude}"/><br/>
    </div>
    <div>
        <label th:for="datum">Datum</label>
        <select class="form-control" th:field="*{datum}">
            <option value="WGE">WGS-84</option>
            <option value="NAD">NAD-83</option>
        </select><br/>
    </div>
    <div>
        <label th:for="local_datum">Local Datum</label>
        <select class="form-control" th:field="*{local_datum}">
            <option value="local_datum">example</option>
        </select><br/>
    </div>
    <div>
        <label th:for="geo_acc">Accuracy</label>
        <select class="form-control"  th:field="*{geo_acc}">
            <option value="1">example</option>
        </select><br/>
    </div>
    <div>
        <label th:for="d_magvar">Dynamic Mag Var</label>
        <input class="form-control" th:field="*{d_magvar}"/><br/>
    </div>
    <div>
        <label th:for="var">Variance</label>
        <input class="form-control" th:field="*{var}"/><br/>
    </div>
    <div>
        <label th:for="var_date">Variance Date</label>
        <input class="form-control" th:field="*{var_date}"/><br/>
    </div>
    <div>
        <label th:for="usage_cd">Usage Code</label>
        <select class="form-control" th:field="*{usage_cd}">
            <option value="usage_cd">example</option>
        </select><br/>
    </div>
    <div>
        <label th:for="wpt_type">Type</label>
        <select class="form-control" th:field="*{wpt_type}">
            <option value="wpt_type">example</option>
        </select><br/>
    </div>
    <div>
        <label th:for="wpt_rvsm">RVSM</label>
        <select class="form-control" th:field="*{wpt_rvsm}">
            <option value="wpt_rvsm">example</option>
        </select><br/>
    </div>
    <div>
        <label th:for="in_dafif">In DAFIF?</label>
        <input class="form-control" th:field="*{in_dafif}"/><br/>
    </div>
    <div>
        <label th:for="drv_ident">DRV Ident</label>
        <input class="form-control" type="checkbox" th:field="*{drv_ident}"/><br/>
    </div>
    <div>
        <label th:for="chart_text">Chart Text</label>
        <textarea class="form-control" th:field="*{chart_text}"/><br/>
    </div>
    <div>
        <label th:for="name_ind">Name Indicator</label>
        <select class="form-control" th:field="*{name_ind}">
            <option value="name_ind">example</option>
        </select><br/>
    </div>
    <div>
        <label th:for="name_desc">Name Description</label>
        <input class="form-control" th:field="*{name_desc}"/><br/>
    </div>
    <div>
        <label th:for="place_name">Place Name</label>
        <input class="form-control" th:field="*{place_name}"/><br/>
    </div>
    <div>
        <label th:for="custarea">ARINC Customer Area</label>
        <select class="form-control" th:field="*{custarea}">
            <option value="custarea">example</option>
        </select><br/>
    </div>
    <!--There is a problem with a datatype mismatch between HTML and the java object-->
    <!--<div>-->
        <!--<label th:for="mod_date">Mod Date</label>-->
        <!--<input class="form-control" id="mod_date" type="date" name="mod_date"/><br/>-->
    <!--</div>-->
    <!--<div>-->
        <!--<label th:for="airac_cycle">Cycle Date</label>-->
        <!--<input class="form-control" id="airac_cycle" name="airac_cycle"/>-->
    <!--</div>-->
    <div>
        <input type="submit" value="Commit"/><br/>
    </div>
</th:form>
</div>

</body>


</body>
</html>