<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<style type="text/css">
    div#map_container{
        width:100%;
        height:350px;
    }
</style>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vnLeQHTqIKBjkRUvj1mZ5BkZWiN-HG0"></script>

<script type="text/javascript">
    function loadMap() {
        var latlng = new google.maps.LatLng(38.7486972, -90.3700289);
        var myOptions = {
            zoom: 10,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_container"),myOptions);

        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title:"KSTL Airport"
        });

    }
</script>


<body onload="loadMap()">
<div id="map_container"></div>
</body>

<body>
<div id="form">
<form method="post" style="max-width: 200px" th:object="${wpt}">
    <div class="form-group">
        <label th:for="wpt_ident">Waypoint Ident</label>
        <input class="form-control" th:field="*{wpt_ident}"/><br/>
        <span th:errors="*{wpt_ident}" class="error"></span>
    </div>
    <div class="form-group">
        <!--<label for="icao-field">ICAO Region</label>-->
        <!--<select class="form-control" id="icao-field" name="icao_rgn">-->
        <label th:for="icao_rgn">ICAO Region</label>
        <select class="form-control" th:field="*{icao_rgn}">
            <option value="K1">K1</option>
            <option value="K2">K2</option>
            <option value="K3">K3</option>
            <option value="K4">K4</option>
            <option value="K5">K5</option>
            <option value="K6">K6</option>
            <option value="K7">K7</option>
        </select><br/>
        <span th:errors="*{icao_rgn}" class="error"></span>

    </div>
    <div>
        <label th:for="latitude-field">Latitude</label>
        <input class="form-control" th:field="*{latitude}"/><br/>
    </div>
    <div>
        <label for="longitude-field">Longitude</label>
        <input class="form-control" id="longitude-field" type="text" th:field="*{longitude}"/><br/>
    </div>
    <div>
        <label for="datum-field">Datum</label>
        <select class="form-control" id="datum-field" th:field="*{datum}">
            <option value="WGE">WGS-84</option>
            <option value="NAD">NAD-83</option>
        </select><br/>
    </div>
    <div>
        <label for="local_datum-field">Local Datum</label>
        <select class="form-control" id="local_datum-field" th:field="*{local_datum}">
            <option value="local_datum">example</option>
        </select><br/>
    </div>
    <div>
        <label for="geo_acc-field">Accuracy</label>
        <select class="form-control" id="geo_acc-field" th:field="*{geo_acc}">
            <option value="1">example</option>
        </select><br/>
    </div>
    <div>
        <label for="d_magvar-field">Dynamic Mag Var</label>
        <input class="form-control" id="d_magvar-field" type="text" th:field="*{d_magvar}"/><br/>
    </div>
    <div>
        <label for="var-field">Variance</label>
        <input class="form-control" id="var-field" type="text" th:field="*{var}"/><br/>
    </div>
    <div>
        <label for="var_date-field">Variance Date</label>
        <input class="form-control" id="var_date-field" type="date" th:field="*{var_date}"/><br/>
    </div>
    <div>
        <label for="usage_cd-field">Usage Code</label>
        <select class="form-control" id="usage_cd-field" th:field="*{usage_cd}">
            <option value="usage_cd">example</option>
        </select><br/>
    </div>
    <div>
        <label for="wpt_type-field">Type</label>
        <select class="form-control" id="wpt_type-field" th:field="*{wpt_type}">
            <option value="wpt_type">example</option>
        </select><br/>
    </div>
    <div>
        <label for="wpt_rvsm-field">RVSM</label>
        <select class="form-control" id="wpt_rvsm-field" th:field="*{wpt_rvsm}">
            <option value="wpt_rvsm">example</option>
        </select><br/>
    </div>
    <div>
        <label for="in_dafif-field">In DAFIF?</label>
        <input class="form-control" id="in_dafif-field" type="checkbox" th:field="*{in_dafif}"/><br/>
    </div>
    <div>
        <label for="drv_ident-field">DRV Ident</label>
        <input class="form-control" id="drv_ident-field" type="checkbox" th:field="*{drv_ident}"/><br/>
    </div>
    <div>
        <label for="chart_text-field">Chart Text</label>
        <textarea class="form-control" id="chart_text-field" th:field="*{chart_text}"/><br/>
    </div>
    <div>
        <label for="name_ind-field">Name Indicator</label>
        <select class="form-control" id="name_ind-field" th:field="*{name_ind}">
            <option value="name_ind">example</option>
        </select><br/>
    </div>
    <div>
        <label for="name_desc-field">Name Description</label>
        <input class="form-control" id="name_desc-field" type="text" th:field="*{name_desc}"/><br/>
    </div>
    <div>
        <label for="place_name-field">Place Name</label>
        <input class="form-control" id="place_name-field" type="text" th:field="*{place_name}"/><br/>
    </div>
    <div>
        <label for="custarea-field">ARINC Customer Area</label>
        <select class="form-control" id="custarea-field" th:field="*{custarea}">
            <option value="custarea">example</option>
        </select><br/>
    </div>
    <!--There is a problem with a datatype mismatch between HTML and the java object-->
    <!--<div>-->
        <!--<label for="mod_date-field">Mod Date</label>-->
        <!--<input class="form-control" id="mod_date-field" type="date" name="mod_date"/><br/>-->
    <!--</div>-->
    <!--<div>-->
        <!--<label for="airac_cycle-field">Cycle Date</label>-->
        <!--<input class="form-control" id="airac_cycle-field" name="airac_cycle"/>-->
    <!--</div>-->
    <div>
        <input type="submit" value="Commit"/><br/>
    </div>
</form>
</div>

</body>


</body>
</html>