<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<form method="post">

    <div th:each="waypoint : ${waypoints}" class="checkbox">
        <input type="checkbox" name="waypointIds" th:value="${waypoint.id}" th:id="${waypoint.wpt_ident}"/>
        <label th:for="${waypoint.id}" th:text="${waypoint.wpt_ident}"></label>
        <br />
    </div>

    <input type="submit" value="Delete Waypoint" />
</form>

</body>
</html>