<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<style type="text/css">
    div#map_container{
        width:100%;
        height:350px;
    }
</style>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vnLeQHTqIKBjkRUvj1mZ5BkZWiN-HG0"></script>

<script type="text/javascript">
    function loadMap() {
        var latlng = new google.maps.LatLng(38.7486972, -90.3700289);
        var myOptions = {
            zoom: 10,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_container"),myOptions);

        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title:"KSTL Airport"
        });

    }
</script>


<body onload="loadMap()">
<div id="map_container"></div>
</body>
<br/>

<nav th:fragment="navigation">
    <a href="/waypoint/add">Add</a> |
    <!--<a href="/waypoint/modify">Modify</a> |-->
    <a href="/waypoint/delete">Delete</a>
</nav><br/>

<!--<ul>-->
    <!--<li th:each="waypoint : ${waypoints}" th:text="${waypoint}"></li>-->
<!--</ul>-->
<table class="table">
    <tr>
        <th></th>
        <th>Waypoint Ident</th>
        <th>ICAO Region</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Datum</th>
        <th>Local Datum</th>
        <th>Coordinate Accuracy</th>
        <th>Dynamic MagVar</th>
        <th>MagVar Date</th>
        <th>Usage Code</th>
        <th>Type Code</th>
        <th>RVSM</th>
        <th>In Dafif?</th>
        <th>DRV Ident?</th>
        <th>Name Indicator</th>
        <th>Place Name</th>
        <th>Chart Text</th>
        <th>Arinc Region</th>
    </tr>

    <tr  th:each="instance : ${waypoints}">
        <td><a th:href="@{'/waypoint/modify/' + ${instance.wptid}}">Modify</a></td>
        <td th:text="${instance.wpt_ident}"></td>
        <td th:text="${instance.icaoRgn.name}"></td>
        <td th:text="${instance.latitude}"></td>
        <td th:text="${instance.longitude}"></td>
        <td th:text="${instance.datum.name}"></td>
        <td th:text="${instance.localDatum.name}"></td>
        <td th:text="${instance.coordAcc.name}"></td>
        <td th:text="${instance.d_magvar}"></td>
        <td th:text="${instance.var_date}"></td>
        <td th:text="${instance.usageCd.name}"></td>
        <td th:text="${instance.wptType.name}"></td>
        <td th:text="${instance.wptRvsm.name}"></td>
        <td th:text="${instance.in_dafif}"></td>
        <td th:text="${instance.drv_ident}"></td>
        <td th:text="${instance.nameIndicator.name}"></td>
        <td th:text="${instance.place_name}"></td>
        <td th:text="${instance.chart_text}"></td>
        <td th:text="${instance.arincRgn.name}"></td>
    </tr>
</table>

</body>
</html>