<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<title th:text="'AeroApp ' + ${title}">Default Title</title>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="|Modify ${wpt.wpt_ident} (${wpt.icaoRgn.name})|">Default heading reads ident and ICAO </h1>

<style type="text/css">
    div#map_container{
        width:100%;
        height:350px;
    }
</style>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vnLeQHTqIKBjkRUvj1mZ5BkZWiN-HG0"></script>

<script type="text/javascript">
    function loadMap() {
        var latlng = new google.maps.LatLng(38.7486972, -90.3700289);
        var myOptions = {
            zoom: 10,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_container"),myOptions);

        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title:"KSTL Airport"
        });

    }
</script>


<body onload="loadMap()">
<div id="map_container"></div>
</body>

<form method="post" style="max-width: 500px" th:object="${wpt}">
    <div>
        <input type="hidden" th:value="${wpt.wptid}" name="wptid" />
    </div>
    <div class="form-group">
        <label th:for="wpt_ident">Waypoint Ident</label>
        <input th:field="*{wpt_ident}" th:value="${wpt.wpt_ident}"/>
        <span th:errors="*{wpt_ident}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="icao_rgn">ICAO Region</label>
        <select th:field="*{icaoRgn}" th:value="${wpt.icaoRgn}">
            <option th:each="IcaoRgn : ${icaorgns}"
                    th:text="${IcaoRgn.name}"
                    th:value="${IcaoRgn.Id}"></option>
        </select>
        <span th:errors="*{icaoRgn}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="latitude">Latitude</label>
        <input th:field="*{latitude}" th:value="${wpt.latitude}"/>
        <span th:errors="*{latitude}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="longitude">Longitude</label>
        <input th:field="*{longitude}" th:value="${wpt.longitude}"/>
        <span th:errors="*{longitude}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="datum">Datum</label>
        <select th:field="*{datum}" th:value="${wpt.datum}">
            <option th:each="Datum : ${datums}"
                    th:text="${Datum.name}"
                    th:value="${Datum.Id}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="local_datum">Local Datum</label>
        <select th:field="*{localDatum}" th:value="${wpt.localDatum}">
            <option th:each="LocalDatum : ${localdatums}"
                    th:text="${LocalDatum.name}"
                    th:value="${LocalDatum.Id}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="coordacc">Accuracy</label>
        <select th:field="*{coordAcc}" th:value="${wpt.coordAcc}">
            <option th:each="CoordAcc : ${coordaccs}"
                    th:text="${CoordAcc.name}"
                    th:value="${CoordAcc.Id}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="d_magvar">Dynamic Mag Var</label>
        <input th:field="*{d_magvar}" th:value="${wpt.d_magvar}"/>
    </div>
    <!--<div class="form-group">-->
        <!--<label th:for="var">Variance</label>-->
        <!--<input th:field="*{var}" th:value="${wpt.var}"/>-->
    <!--</div>-->

    <!--&lt;!&ndash;TODO:  Upon commit there is a conversion error going from form string to java.sql.date type.&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
        <!--&lt;!&ndash;<label th:for="var_date">Variance Date</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<input th:field="*{var_date}" th:value="${wpt.var_date}"/>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <div class="form-group">
        <label th:for="usageCd">Usage Code</label>
        <select th:field="*{usageCd}" th:value="${wpt.usageCd}">
            <option th:each="UsageCd : ${wptusages}"
                    th:text="${UsageCd.name}"
                    th:value="${UsageCd.Id}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="wptType">Waypoint Type</label>
        <select th:field="*{wptType}" th:value="${wpt.wptType}">
            <option th:each="WptType : ${wpt_types}"
                    th:text="${WptType.name}"
                    th:value="${WptType.Id}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="wptRvsm">RVSM</label>
        <select th:field="*{wptRvsm}" th:value="${wpt.wptRvsm}">
            <option th:each="WptRvsm : ${wptrvsms}"
                    th:text="${WptRvsm.name}"
                    th:value="${WptRvsm.Id}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="in_dafif">In DAFIF?</label>
        <input th:type="checkbox" th:field="*{in_dafif}" th:value="${wpt.in_dafif}"/>
    </div>
    <div class="form-group">
        <label th:for="drv_ident">DRV Ident</label>
        <input th:type="checkbox" th:field="*{drv_ident}" th:value="${wpt.drv_ident}"/>
    </div>
    <div class="form-group">
        <label th:for="chart_text">Chart Text</label>
        <!--TODO: Investigate why this text area will not accept data-->
        <input th:field="*{chart_text}" th:value="${wpt.chart_text}"/>
    </div>
    <div class="form-group">
        <label th:for="nameIndicator">Name Indicator</label>
        <select th:field="*{nameIndicator}" th:value="${wpt.nameIndicator}">
            <option th:each="NameIndicator : ${nameinds}"
                    th:text="${NameIndicator.name}"
                    th:value="${NameIndicator.Id}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="name_desc">Name Description</label>
        <input th:field="*{name_desc}" th:value="${wpt.name_desc}"/>
    </div>
    <div class="form-group">
        <label th:for="place_name">Place Name</label>
        <input th:field="*{place_name}" th:value="${wpt.place_name}"/>
    </div>
    <div class="form-group">
        <label th:for="arincRgn">ARINC Customer Area</label>
        <select th:field="*{arincRgn}" th:value="${wpt.arincRgn}">
            <option th:each="ArincRgn : ${arincrgns}"
                    th:text="${ArincRgn.name}"
                    th:value="${ArincRgn.Id}"></option>
        </select>
    </div>
    <!--TODO: There is a problem with a datatype mismatch between HTML and the java object-->
    <!--<div>-->
    <!--<label th:for="mod_date">Mod Date</label>-->
    <!--<input id="mod_date" type="date" name="mod_date"/>-->
    <!--</div>-->
    <!--TODO: How to handle Cycle Date???-->
    <!--<div>-->
    <!--<label th:for="airac_cycle">Cycle Date</label>-->
    <!--<input id="airac_cycle" name="airac_cycle"/>-->
    <!--</div>-->
    <div class="form-group">
        <input type="submit" value="Commit"/>
    </div>
</form>
</body>
</html>