<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<title th:text="'AeroApp ' + ${title}">Default Title</title>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="|Modify ${modded.wpt_ident} (${modded.icao_rgn})|">Default heading reads cheese name and id </h1>

<style type="text/css">
    div#map_container{
        width:100%;
        height:350px;
    }
</style>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vnLeQHTqIKBjkRUvj1mZ5BkZWiN-HG0"></script>

<script type="text/javascript">
    function loadMap() {
        var latlng = new google.maps.LatLng(38.7486972, -90.3700289);
        var myOptions = {
            zoom: 10,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_container"),myOptions);

        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title:"KSTL Airport"
        });

    }
</script>


<body onload="loadMap()">
<div id="map_container"></div>
</body>

<body>
<form method="post" style="max-width: 200px" th:object="${modded}">
    <div>
        <input type="hidden" th:value="${modded.wptid}" name="wptid" />
    </div>
    <div class="form-group">
        <label th:for="wpt_ident-field">Waypoint Ident</label>
        <input class="form-control" id="wpt_ident-field" type="text" name="wpt_ident" th:value="${modded.wpt_ident}"/><br/>
        <input type="submit" value="Commit"/><br/>
    </div>
    <div class="form-group">
        <label for="icao-field">ICAO Region</label>
        <select class="form-control" id="icao-field" name="icao_rgn" th:value="${modded.icao_rgn}">
            th:value="${modded.icao_rgn}"
            <option value="K1">K1</option>
            <option value="K2">K2</option>
            <option value="K3">K3</option>
            <option value="K4">K4</option>
            <option value="K5">K5</option>
            <option value="K6">K6</option>
            <option value="K7">K7</option>
        </select><br/>
    </div>
    <div>
        <label for="latitude-field">Latitude</label>
        <input class="form-control" id="latitude-field" type="text" name="latitude" th:value="${modded.latitude}"/><br/>
    </div>
    <div>
        <label for="longitude-field">Longitude</label>
        <input class="form-control" id="longitude-field" type="text" name="longitude" th:value="${modded.longitude}"/><br/>
    </div>
    <div>
        <label for="datum-field">Datum</label>
        <select class="form-control" id="datum-field" name="datum" th:value="${modded.datum}">
            <option value="WGE">WGS-84</option>
            <option value="NAD">NAD-83</option>
        </select><br/>
    </div>
    <div>
        <label for="local_datum-field">Local Datum</label>
        <select class="form-control" id="local_datum-field" name="local_datum" th:value="${modded.local_datum}">
            <option value="local_datum">example</option>
        </select><br/>
    </div>
    <div>
        <label for="geo_acc-field">Accuracy</label>
        <select class="form-control" id="geo_acc-field" name="geo_acc" th:value="${modded.geo_acc}">
            <option value="1">example</option>
        </select><br/>
    </div>
    <div>
        <label for="d_magvar-field">Dynamic Mag Var</label>
        <input class="form-control" id="d_magvar-field" type="text" name="d_magvar" th:value="${modded.d_magvar}"/><br/>
    </div>
    <div>
        <label for="var-field">Variance</label>
        <input class="form-control" id="var-field" type="text" name="var" th:value="${modded.var}"/><br/>
    </div>
    <div>
        <label for="var_date-field">Variance Date</label>
        <input class="form-control" id="var_date-field" type="date" name="var_date" th:value="${modded.var_date}"/><br/>
    </div>
    <div>
        <label for="usage_cd-field">Usage Code</label>
        <select class="form-control" id="usage_cd-field" name="usage_cd" th:value="${modded.usage_cd}">
            <option value="usage_cd">example</option>
        </select><br/>
    </div>
    <div>
        <label for="wpt_type-field">Type</label>
        <select class="form-control" id="wpt_type-field" name="wpt_type" th:value="${modded.wpt_type}">
            <option value="wpt_type">example</option>
        </select><br/>
    </div>
    <div>
        <label for="wpt_rvsm-field">RVSM</label>
        <select class="form-control" id="wpt_rvsm-field" name="wpt_rvsm" th:value="${modded.wpt_rvsm}">
            <option value="wpt_rvsm">example</option>
        </select><br/>
    </div>
    <div>
        <label for="in_dafif-field">In DAFIF?</label>
        <input class="form-control" id="in_dafif-field" type="checkbox" name="in_dafif" th:value="${modded.in_dafif}"/><br/>
    </div>
    <div>
        <label for="drv_ident-field">DRV Ident</label>
        <input class="form-control" id="drv_ident-field" type="checkbox" name="drv_ident" th:value="${modded.drv_ident}"/><br/>
    </div>
    <div>
        <label for="chart_text-field">Chart Text</label>
        <textarea class="form-control" id="chart_text-field" name="chart_text" th:value="${modded.chart_text}"></textarea><br/>
    </div>
    <div>
        <label for="name_ind-field">Name Indicator</label>
        <select class="form-control" id="name_ind-field" name="name_ind" th:value="${modded.name_ind}">
            <option value="name_ind">example</option>
        </select><br/>
    </div>
    <div>
        <label for="name_desc-field">Name Description</label>
        <textarea class="form-control" id="name_desc-field" name="name_desc" th:value="${modded.name_desc}"/><br/>
    </div>
    <div>
        <label for="place_name-field">Place Name</label>
        <input class="form-control" id="place_name-field" type="text" name="place_name" th:value="${modded.place_name}"/><br/>
    </div>
    <div>
        <label for="custarea-field">ARINC Customer Area</label>
        <select class="form-control" id="custarea-field" name="custarea" th:value="${modded.custarea}">
            <option value="custarea">example</option>
        </select><br/>
    </div>

    <!--There is a problem with a datatype mismatch between HTML and the java object-->
    <!--<div>-->
    <!--<label for="mod_date-field">Mod Date</label>-->
    <!--<input class="form-control" id="mod_date-field" type="date" name="mod_date"/><br/>-->
    <!--</div>-->
    <!--<div>-->
    <!--<label for="airac_cycle-field">Cycle Date</label>-->
    <!--<input class="form-control" id="airac_cycle-field" name="airac_cycle"/>-->
    <!--</div>-->
</form>
</body>


</body>
</html>