<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Default Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    <a href="/airport">Airports</a> |
    <a href="/navaid">Navaids</a> |
    <a href="/waypoint">Waypoints</a> |
    <a href="/airwayats">ATS Routes</a> |
    <a href="/trainingroute">MTR Routes</a>
</nav>

</body>
</html>